@using Students.Models
@model Student
@{
    ViewBag.Title = "Add";
}

<html>
    <head>
        <meta charset="utf-8" />
        <title>Add a new student or course</title>
    </head>
    <body>
        <div>
            <h1>Add a new student or course</h1>
            <div>
                <div class="form">
                    <h2>Add a new student</h2>
                    @using (Html.BeginForm("AddEditDelete", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.LabelFor(m => m.Name, "Enter name: ", new { @class = "label" })<br />
                        @Html.TextBoxFor(m => m.Name)<br />
                        @Html.LabelFor(m => m.Surname, "Enter surname: ", new { @class = "label" })<br />
                        @Html.TextBoxFor(m => m.Surname)<br />
                        @Html.LabelFor(m => m.AvgMark, "Enter avgMark: ", new { @class = "label" })<br />
                        @Html.TextBoxFor(m => m.AvgMark)<br />
                        @Html.LabelFor(m => m.CourseNumb, "Enter courseNumb: ", new { @class = "label" })<br />
                        @Html.TextBoxFor(m => m.CourseNumb)<br />
                        <p class="label">Select student photo: </p><br />
                        <input type="file" name="uploadImage" class="uploadImage" /><br />
                        @Html.LabelFor(m => m.Email, "Enter email: ", new { @class = "label" })<br />
                        @Html.TextBoxFor(m => m.Email)<br />
                        foreach (string item in ViewBag.Courses)
                        {
                            <input type="checkbox" id=@item name="CoursesList" value=@item />
                            <label>@item</label> <br />
                        }
                        <button value="Add" name="buttonValue" class="button">AddStudent</button>
                    }
                </div>
                <div class="form">
                    <h2>Add courses</h2>
                    @using (Html.BeginForm("AddRemoveCourse", "Home", FormMethod.Post))
                    {
                        @Html.Label("Enter course names for add them", new { @class = "label" })<br/>
                        @Html.TextBox("addCourses","", new { @class = "textBox" })<br/><br/><br/>
                        <button value="Add" name="what" class="button">AddCourse(s)</button><br/>
                    }
                </div>
                <form method="get" action="/Home/Index" class="form">
                    <button type="submit" class="button">Exit</button>
                </form>
            </div>
        </div>
    </body>
</html>

